<header>
    <div class='logo'>
        <h1><%= link_to 'TD7-Freelancers', root_path %></h1>
    </div>
    
    <% if freelancer_signed_in? %>
        <div class='menu'>
            <nav>
                <ul>
                    <%= current_freelancer.email %>
                    <%= link_to 'Logout', destroy_freelancer_session_path, method: 'delete'%>
                </ul>
            </nav>
        </div>
    <% elsif project_owner_signed_in?  %>
        <div class='menu'>
            <nav>
                <ul>
                    <%= current_project_owner.email %>
                    <%= link_to 'Logout', destroy_project_owner_session_path, method: 'delete'%>
                </ul>
            </nav>
        </div>
    <% end %>
</header>

<% if notice %>
    <div class="alert alert-info" role="alert">
        <%= notice %>
    </div>
<% end %>
    <div class="alert alert-warning" role="alert">
        <%= alert %>
    </div>
