Projeto: <%= @project.title %><br>
Descrição: <%= @project.description %><br>
Valor Máximo por Hora: <%= number_to_currency @project.max_value %><br>
Data Limite para Propostas: <%= I18n.l(@project.deadline) %><br>
Habilidade(s): <% @project.abilities.each do |ability| %>
                <%= ability.name %>
             <% end %><br>
Forma de trabalho: <%= Project.human_enum_name(:locations, @project.location) %><br>
Status do Projeto: <%= I18n.t(@project.project_status)%>

<% if project_owner_signed_in? && @project.project_owner == current_project_owner && @project.proposals.where(status: 'accepted').empty?%>
         <div>
            Time do Projeto:
         </div>
         <div>
            Ainda não existem propostas aceitas
         </div>
<% elsif (project_owner_signed_in? && @project.project_owner == current_project_owner) || (freelancer_signed_in? && @project.proposals.where("status = ? AND freelancer_id = ?", "accepted", current_freelancer.id)) %>
      <div>
         <div>
            Time do Projeto:
         </div>
         <div>
            <% @project.proposals.where(status: 'accepted').each do |proposal| %>
               <div>
                  <%= link_to proposal.freelancer.profile.social_name, proposal.freelancer.profile %>
               </div>
            <% end %>
         </div>
      </div>
<% end %>

<% if project_owner_signed_in? && @project.project_owner == current_project_owner && @project.project_status != 'finished'%>
   <%= link_to 'Finalizar Projeto', finish_project_path, method: 'post' %>
<% end %>

<% if freelancer_signed_in? && current_freelancer.projects.include?(@project)%>
   <div>
      Você já enviou proposta para este projeto, clique aqui, para ver ela.
   </div>
<% elsif project_owner_signed_in? && @project.project_owner == current_project_owner %>
   <h3>Propostas:</h3>
   <% if @project.proposals.where(status: 'pending').empty? %>
      <div>
         Não existem propostas para serem avaliadas neste momento.
      </div>
   <% else %>
      <% @project.proposals.where(status: 'pending').each do |proposal|%>
         <li><%= proposal.freelancer.profile.full_name %></li>
         <li>Valor por hora: <%= number_to_currency proposal.hour_value %></li>
         <li>Previsão de entrega: <%= I18n.l(proposal.deadline_proposal) %>
         <li><%= I18n.t(proposal.status) %></li>
         <li id=<%= "proposal_#{proposal.id}" %>><%= link_to 'Visualizar Proposta Completa', project_proposal_path(proposal.id) %>
         <li id=<%= "accept_proposal_#{proposal.id}" %>><%= link_to 'Aceitar Proposta', accept_project_proposal_path(proposal.id), method: :post %></li>
         <li id=<%= "reject_proposal_#{proposal.id}" %>><%= link_to 'Rejeitar Proposta', reject_project_proposal_path(proposal.id), method: :post %></li>
      <% end %>
   <% end %>
<% else %>
   <%= form_with model: @proposal, url: project_proposals_path(@project) do |f|%>
      <div>
         <%= f.label :application_reason%>
         <%= f.text_field :application_reason%>
      </div>
      <div>
         <%= f.label :hours_value%>
         <%= f.number_field :hours_value%>
      </div>
      <div>
         <%= f.label :hours%>
         <%= f.number_field :hours%>
      </div>
      <div>
         <%= f.label :deadline_proposal%>
         <%= f.date_field :deadline_proposal%>
      </div>
      <%= f.submit 'Enviar Proposta' %>
   <% end %>
<% end %>
