<h1>Minhas Propostas</h1>

<% if @proposals.empty?%>
    <div>
        Você ainda não realizou propostas
    </div>
<% end %>

<% @proposals.each do |proposal| %>
    <h3><%= link_to proposal.project.title, proposal.project %></h3>
    <p>Habilidade(s): 
        <% proposal.project.abilities.each do |ability| %>
            <%= ability.name %>
        <% end %>
    </p>
    <p>Status: <%= I18n.t(proposal.status) %>
    <% if proposal.status != 'canceled'%>
        <li id=<%= "cancel_proposal_#{proposal.id}" %>><%= link_to 'Cancelar Proposta', cancel_project_proposal_path(proposal.project.id, proposal.id), method: :post %></li>
    <% end %>
<% end %>