<!DOCTYPE html>
<html>
  <head>
    <title>Td7FreelancerProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header"%>
    <div class='conteiner'>  
      <% flash.each do |type, message| %>
        <div class="mt-3 alert alert-<%= type == 'alert' ? 'danger' : 'success'%> alert-dismissible fade show" role="alert">
            <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>
    <%= render "shared/footer"%>
  </body>
</html>
